<div class="container">
  <div class="row">
      <div class="col-3">
        <%= render 'book' , book: @book ,user: @user %>
      </div>
      
      <div class="col-8">
        <h2>Book detail</h2>
        <table class="table">
            <tr>
                <td>
                    <%= link_to user_path(@book_detail.user_id) do%>
                        <%= image_tag @book_detail.user.get_profile_image(80,80) %>
                        <br>
                        <%= @book_detail.user.name %>
                    <%end%>
                </td>
                <td>
                    <%= link_to book_path(@book_detail.id) do %>
                        <%= @book_detail.title %>
                    <% end %>
                </td>
                <td><%= @book_detail.body %></td>
                
                <% if @book_detail.user == current_user %>
                <td>
                    <%= link_to "Edit", edit_book_path(@book_detail.id) ,class: "btn btn-success" %>
                </td>
                <td>
                    <%= link_to "Destroy", book_path(@book_detail.id), data: { confirm: "本当に消しますか？" }, method: :delete, class: "btn btn-danger" %>
                </td>
                <%end%>
            </tr>
        </table>
      </div>
  </div>  
</div>

